body {
  font-family: -apple-system, BlinkMacSystemFont 'Helvetica Neue', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', sans-serif;
  background-color: #f4f4f4;
}

li {
  list-style: none;
}

.clearfix {

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
