@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont 'Helvetica Neue', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', sans-serif;
  background-color: #f4f4f4; }

li {
  list-style: none; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.layout-full {
  width: 100%; }

.layout-vertical-align {
  vertical-align: middle; }

.layout-align-center {
  text-align: center; }

.layout-align-right {
  text-align: right; }

.layout-align-left {
  text-align: left; }

.layout-left-small {
  margin-left: 5px; }

.layout-left {
  margin-left: 10px; }

.layout-large {
  margin-left: 20px; }

.layout-xlarge {
  margin-left: 30px; }

.layout-bottom-xsmall {
  margin-bottom: 5px; }

.layout-bottom-small {
  margin-bottom: 10px; }

.layout-bottom {
  margin-bottom: 20px; }

.layout-float-left {
  float: left; }

.layout-flex {
  display: -ms-flexbox;
  display: flex; }
  .layout-flex.wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .layout-flex.equality {
    -ms-flex-pack: justify;
        justify-content: space-between; }

.layout-line-height {
  line-height: 1.2; }

.layout-half:after {
  content: '';
  clear: both;
  display: block; }

.layout-half > * {
  width: 50%;
  float: left;
  padding: 10px;
  box-sizing: border-box; }

.layout-table {
  display: table; }
  .layout-table > * {
    display: table-cell; }

.layout-row:after {
  content: '';
  clear: both;
  display: block; }

.layout-row > * {
  float: left; }

.layout-media .layout-media-thumbnail {
  width: 30%; }

.layout-media .layout-media-body {
  width: 70%; }

.layout-media-half > * {
  width: 50%; }

.l-ranking-list > li {
  margin-left: 15px; }
  .l-ranking-list > li:first-child {
    margin-left: 0; }

.l-ranking-list .l-ranking-list-thumbnail {
  position: relative; }
  .l-ranking-list .l-ranking-list-thumbnail .l-ranking-list-thumbnail-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px; }

.l-rate > li {
  margin-left: 5px; }
  .l-rate > li:first-child {
    margin-left: 0; }
  .l-rate > li .l-rate-star {
    width: 14px; }

.layout-breadcrumb:after {
  content: '';
  display: block;
  clear: both; }

.layout-breadcrumb > li {
  float: left; }

.layout-item .layout-item-list:after {
  content: '';
  clear: both;
  display: block; }

.layout-item .layout-item-list > li {
  width: 50%;
  float: left;
  box-sizing: border-box; }

.header {
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  display: -ms-flexbox;
  display: flex; }
  .header > *:first-child {
    margin-right: auto; }
  .header.offset-border {
    border: 0; }

.section-container {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(139, 139, 139, 0.4); }
  .section-container .section-container-inner {
    padding: 15px; }
  .section-container .section-container-separate {
    border-bottom: 1px solid #dadada; }

.footer {
  padding: 0 4%; }
  .footer .footer-section-separate {
    height: 2px;
    background-color: #1b1b1b; }
  .footer .footer-card {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ababab;
    padding: 3% 0; }
  .footer .footer-list > li {
    border-bottom: 1px solid #ababab;
    padding: 25px 0; }
  .footer .footer-list .footer-list-anchor {
    color: #1b1b1b;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none; }
  .footer .footer-copyright {
    color: #ababab;
    font-size: 11px;
    font-family: "Alte Din 1451 Mittelschrift";
    text-align: center;
    padding: 30px 0; }

.card {
  background-color: #fff;
  border-bottom: 1px solid #ababab; }

.text-attention {
  color: #fe0002; }

.text-note {
  color: #9a9a9a; }

.text-xxsmall {
  font-size: 2vw !important; }

.text-xsmall {
  font-size: 3.75vw !important; }

.text-small {
  font-size: 4.375vw !important; }

.text-large {
  font-size: 5vw !important; }

.text-xlarge {
  font-size: 10vw !important; }

.text-bold {
  font-weight: bold; }

.text-uniqlo {
  font-family: "Alte Din 1451 Mittelschrift"; }

.text-price {
  font-weight: bold;
  font-size: 22px;
  font-family: "Alte Din 1451 Mittelschrift";
  color: #fe0002; }
  .text-price.large {
    font-size: 30px; }

.text-title {
  font-size: 21px;
  font-weight: bold;
  padding: 15px; }

.text-anchor {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline; }

.navi {
  font-family: "Alte Din 1451 Mittelschrift";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .navi .navi-anchor {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 35px 20px;
    -ms-flex-positive: 2;
        flex-grow: 2; }
    .navi .navi-anchor:first-child {
      -ms-flex-positive: 1;
          flex-grow: 1; }
    .navi .navi-anchor.woman {
      background-color: #fc0d1b; }
    .navi .navi-anchor.man {
      background-color: #020d80; }
    .navi .navi-anchor.kids {
      background-color: #50b4f0; }
    .navi .navi-anchor.baby {
      background-color: #96c800; }

.grid-list {
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .grid-list:after {
    content: '';
    clear: both;
    display: block; }
  .grid-list > li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #dadada;
    text-align: center;
    line-height: 1.3; }
    .grid-list > li:nth-child(2n-1) {
      border-right: 1px solid #dadada; }
  .grid-list .grid-list-anchor {
    color: #1b1b1b;
    font-weight: bold;
    -ms-flex-pack: center;
        justify-content: center; }

.heading-title {
  padding: 5px; }
  .heading-title .heading-title-label {
    background-color: #fe0000;
    color: #fff;
    padding: 15px 10px;
    font-size: 11px;
    text-align: center;
    line-height: 1.3; }
    .heading-title .heading-title-label.new {
      background-color: #378693; }
  .heading-title .heading-title-body {
    color: #2f2e2e;
    padding: 5px 8px 0; }

.media:after {
  content: '';
  clear: both;
  display: block; }

.media > * {
  float: left; }

.media .media-body {
  font-size: 15px;
  padding: 15px;
  box-sizing: border-box; }
  .media .media-body .media-body-text {
    color: #595959;
    line-height: 1.3; }

.label {
  display: inline-block;
  padding: 2px 6px;
  color: #fff;
  font-size: 8px;
  background-color: #ababab; }
  .label.woman {
    background-color: #fe0002; }
  .label.man {
    background-color: #030085; }
  .label.kids {
    background-color: #50b4f2; }
  .label.baby {
    background-color: #95c800; }

.tab {
  font-family: "Alte Din 1451 Mittelschrift";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .tab .tab-anchor {
    color: #1b1b1b;
    font-size: 14px;
    text-align: center;
    padding: 0 20px 20px;
    -ms-flex-positive: 2;
        flex-grow: 2; }
    .tab .tab-anchor:first-child {
      -ms-flex-positive: 1;
          flex-grow: 1; }

.carousel {
  overflow: hidden;
  overflow-x: scroll; }

.ranking-list {
  padding: 0 20px; }
  .ranking-list .ranking-list-number {
    display: inline-block;
    border: 1px solid #dadada;
    font-weight: bold;
    padding: 5px 8px; }

.breadcrumb {
  padding: 25px 15px; }
  .breadcrumb > li {
    color: #1b1b1b;
    font-size: 13px; }
    .breadcrumb > li:after {
      content: '/';
      display: inline-block;
      padding: 0 10px; }
    .breadcrumb > li:last-child:after {
      content: none; }
  .breadcrumb .breadcrumb-anchor {
    color: #1b1b1b;
    text-decoration: underline; }

.filter {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold; }
  .filter > li:first-child {
    -ms-flex-positive: 2;
        flex-grow: 2;
    border-left: 0; }
  .filter > li {
    padding: 25px 10px;
    border-left: 1px solid #dadada; }

.anchor {
  color: #1b1b1b; }

.item .item-list > li:nth-child(n+1) {
  border-right: 1px solid #dadada; }

.item .item-list .item-list-body {
  padding: 10px; }
