@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont 'Helvetica Neue', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', sans-serif;
  background-color: #f4f4f4; }

li {
  list-style: none; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.layout-vertical-align {
  vertical-align: middle; }

.layout-align-center {
  text-align: center; }

.layout-left {
  margin-left: 10px; }

.layout-bottom-xsmall {
  margin-bottom: 5px; }

.layout-bottom-small {
  margin-bottom: 10px; }

.layout-bottom {
  margin-bottom: 20px; }

.layout-float-left {
  float: left; }

.layout-half:after {
  content: '';
  clear: both;
  display: block; }

.layout-half > * {
  width: 50%;
  float: left; }

.l-heading-title {
  margin: 5px; }

.layout-media .layout-media-thumbnail {
  width: 30%; }

.layout-media .layout-media-body {
  width: 70%; }

.header {
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  display: -ms-flexbox;
  display: flex; }
  .header > *:first-child {
    margin-right: auto; }

.footer {
  padding: 0 4%; }
  .footer .footer-section-separate {
    height: 2px;
    background-color: #1b1b1b; }
  .footer .footer-card {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ababab;
    padding: 3% 0; }
  .footer .footer-list > li {
    border-bottom: 1px solid #ababab;
    padding: 25px 0; }
  .footer .footer-list .footer-list-anchor {
    color: #1b1b1b;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none; }
  .footer .footer-copyright {
    color: #ababab;
    font-size: 11px;
    font-family: "Alte Din 1451 Mittelschrift";
    text-align: center;
    padding: 30px 0; }

.card {
  background-color: #fff;
  border-bottom: 1px solid #ababab; }

.text-attention {
  color: #f00; }

.text-small {
  font-size: 14px; }

.text-large {
  font-size: 18px; }

.text-bold {
  font-weight: bold; }

.navi {
  font-family: "Alte Din 1451 Mittelschrift";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .navi .navi-anchor {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 35px 20px;
    -ms-flex-positive: 2;
        flex-grow: 2; }
    .navi .navi-anchor:first-child {
      -ms-flex-positive: 1;
          flex-grow: 1; }
    .navi .navi-anchor.woman {
      background-color: #fc0d1b; }
    .navi .navi-anchor.man {
      background-color: #020d80; }
    .navi .navi-anchor.kids {
      background-color: #50b4f0; }
    .navi .navi-anchor.baby {
      background-color: #96c800; }

.grid-list {
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .grid-list:after {
    content: '';
    clear: both;
    display: block; }
  .grid-list > li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #dadada;
    text-align: center;
    line-height: 1.3; }
    .grid-list > li:nth-child(2n-1) {
      border-right: 1px solid #dadada; }
  .grid-list .grid-list-anchor {
    color: #1b1b1b;
    font-weight: bold;
    -ms-flex-pack: center;
        justify-content: center; }

.heading-title .heading-title-label {
  background-color: #fe0000;
  color: #fff;
  padding: 15px 10px;
  font-size: 11px;
  text-align: center;
  line-height: 1.3; }

.heading-title .heading-title-body {
  color: #2f2e2e;
  padding: 10px 8px 0; }

.media:after {
  content: '';
  clear: both;
  display: block; }

.media > * {
  float: left; }

.media .media-body {
  padding: 10px;
  box-sizing: border-box; }
