.layout-vertical-align {
  vertical-align: middle;
}

.layout-align-center {
  text-align: center;
}

.layout-left {
  margin-left: 10px;
}

.layout-bottom-xsmall {
  margin-bottom: 5px;
}


.layout-bottom-small {
  margin-bottom: 10px;
}

.layout-bottom {
  margin-bottom: 20px;
}
