.layout-full {
  width: 100%;
}

.layout-vertical-align {
  vertical-align: middle;
}

.layout-align-center {
  text-align: center;
}

.layout-align-right {
  text-align: right;
}

.layout-align-left {
  text-align: left;
}

.layout-left {
  margin-left: 10px;
}

.layout-large {
  margin-left: 20px;
}

.layout-xlarge {
  margin-left: 30px;
}

.layout-bottom-xsmall {
  margin-bottom: 5px;
}

.layout-bottom-small {
  margin-bottom: 10px;
}

.layout-bottom {
  margin-bottom: 20px;
}

.layout-float-left {
  float: left;
}

.layout-flex {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }

  &.equality {
    justify-content: space-between;
  }
}

.layout-line-height {
  line-height: 1.2;
}

.layout-half {

  &:after {
    content: '';
    clear: both;
    display: block;
  }

  & > * {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
}
