.media {

  &:after {
    content: '';
    clear: both;
    display: block;
  }

  & > * {
    float: left;
  }

  .media-body {
    font-size: 15px;
    padding: 15px;
    box-sizing: border-box;

    .media-body-text {
      color: #595959;
      line-height: 1.3;
    }
  }
}
