.navi {
  font-family: $uniqlo-font;
  display: flex;
  justify-content: space-between;

  .navi-anchor {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 35px 20px;
    flex-grow: 2;

    &:first-child {
      flex-grow: 1;
    }

    &.woman {
      background-color: #fc0d1b;
    }

    &.man {
      background-color: #020d80;
    }

    &.kids {
      background-color: #50b4f0;
    }

    &.baby {
      background-color: #96c800;
    }
  }
}
